*{
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html,body { 
    height: 100%;
    scroll-behavior: smooth;
}
.corpo {
    width: 100%;
	background: black;
    overflow-X: hidden;
}
.home {
	height: 100%;
	width: 100%;
	position: absolute;
    background-color: transparent;
	top: 0;
	left: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.scritteMenu {
    transform: translateY(calc(50% - 60px));
    position: absolute;
    margin-left: 30px;
    height: 500px;
    width: 300px;
}
.logo {
	font-family: 'Lobster', cursive;
	color: white;
    font-size: 60px;
    margin-bottom: 100px;
    margin-left: 30px;
}
.home a {
    position: relative;
    color: white;
    left: 10px;
    text-decoration: none;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
#lineaSotto {
    transition: 0.5s;
}
#scrittaMenu1Id:hover + #lineaSotto {
    width: 200px;
}
#scrittaMenu2Id:hover + #lineaSotto {
    width: 85px;
}
#scrittaMenu3Id:hover + #lineaSotto {
    width: 80px;
}
#scrittaMenu4Id:hover + #lineaSotto {
    width: 190px;
}
#lineaSotto {
    height: 4px;
    width: 30px;
    position: relative;
    margin-top: 2px;
    margin-left: 30px;
    margin-bottom: 25px;
    background-color: white;
}
.sfondo-scorri {
    width: 300%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    transition: 1.5s;
}
.sfondo1, .sfondo2, .sfondo3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sfondo1 {
    height: 100%;
    width: 100%;
    background-color: rgb(71, 71, 71);
    z-index: 1;
}
.sfondo2 {
    height: 100%;
    width: 100%;
    background-color: rgb(46, 46, 46);
    z-index: 1;
}
.sfondo3 {
    height: 100%;
    width: 100%;
    background-color: rgb(29, 29, 29);
    z-index: 1;
}
.sfondo1 a, .sfondo2 a, .sfondo3 a {
    position: absolute;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: #363636;
    font-weight: bold
}
.bottoniSlide {
    position: absolute;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    top: calc(100% - 60px);
}
.bottoniSlide div {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}
