/* cellulare dritto */
@media screen and (max-device-width: 800px) and (orientation: portrait){
    .compatibile {
        z-index: 3;
    }
    .incopatibile{
        z-index: 4;
        padding: 2  0px;
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(29, 29, 29);
        overflow: hidden;
    }
    .scritte {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
    }
    .scritte a{
        display: block;
        font-family: 'Roboto', sans-serif;
        color: white;
    }
    .a1{
        margin-top: 30px;
    }
    .a2{
        margin-top: 30px;
    }
    .footer{
        height: 60px;
        width: 100%;
        position: relative;
        background: transparent;
        display: flex;
        align-items: center;
        top: calc(100% - 60px);
    }
    .footer a{
        font-family: 'Yantramanav', sans-serif;
        font-weight: light;
        font-size: 15px;
        margin-left: 20px;
        color: rgb(218, 218, 218);
    }
    .immagineLogoNC{
        padding: 2px;
        min-height: 8px;
        min-width: 60px;
        background: rgb(200, 200, 200);
        margin-left: 10px;
        z-index: 6;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: rgb(36, 36, 36);
    }
    .copyrightNC {
        right: 15px;
        position: absolute;
    }
}
  
/* cellulare orizzontale */
@media screen and (max-device-width: 640px) and (orientation: landscape){
    .compatibile {
        z-index: 3;
    }
    .incopatibile{
        z-index: 4;
        padding: 2  0px;
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(29, 29, 29);
        overflow: hidden;
    }
    .scritte {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
    }
    .scritte a{
        display: block;
        font-family: 'Roboto', sans-serif;
        color: white;
    }
    .a1{
        margin-top: 30px;
    }
    .a2{
        margin-top: 30px;
    }
    .footer{
        height: 60px;
        width: 100%;
        position: relative;
        background: transparent;
        display: flex;
        align-items: center;
        top: calc(100% - 60px);
    }
    .footer a{
        font-family: 'Yantramanav', sans-serif;
        font-weight: light;
        font-size: 15px;
        margin-left: 20px;
        color: rgb(218, 218, 218);
    }
    .immagineLogoNC{
        padding: 2px;
        min-height: 8px;
        min-width: 60px;
        background: rgb(200, 200, 200);
        margin-left: 10px;
        z-index: 6;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: rgb(36, 36, 36);
    }
    .copyrightNC {
        right: 15px;
        position: absolute;
    }
}
