/* cellulare dritto */
@media screen and (max-device-width: 800px) and (orientation: portrait){
    html,body {
      overflow-x: hidden;
    }
    .corpo{
        height: 100%;
        width: 100%;
    }

    /* HOME */
    .home{
        height: 100%;
        width: 100%;
    }
    .bottoniQuadri0{
        display: none;
    }
    .scritteMenu{
        top: 0;
        left: 0;
        margin: 0;
    }
    .logo{
        display: block;
        color: #242424;
        padding-left: 30px;
        padding-top: 10px;
        margin: 0;
        font-size: 50px;
        z-index: 5;
    }
    .scritteMenu{
        width: 100%;
        height: 80px;
        z-index: 5;
    }
    .hamburgerMenu{
        display: block;
        top: 0;
        right: 0;
        position: absolute;
        margin-top: 25px;
        margin-right: 30px;
        float: right;
        display: flex;
        flex-direction: column;
        height: 40px;
        width: 40px;
        z-index: 6;
    }
    .meet1,.meet2,.meet3{
        border-radius: 10px;
        height: 6px;
        width: 40px;
        margin-top: 6px;
        z-index: 5;
    }
    .menuMobile{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: black;
        z-index: 4;
        transition: opacity 0.2s;
    }
    .menuMobileScritte{
        margin-top: 240px;
        position: absolute;
        margin-left: 10px;
        height: 300px;
        width: 260px;
    }
    .scrittaMenu1M{
        position: relative;
        color: white;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        margin-left: 30px;
        
    }
    .scrittaMenu2M{
        position: relative;
        color: white;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        margin-left: 30px;
    }
    .scrittaMenu3M{
        position: relative;
        color: white;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        margin-left: 30px;
    }
    .scrittaMenu4M{
        position: relative;
        color: white;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        margin-left: 30px;
    }
    .lS1M{
        background-color: white;
        height: 4px;
        width: 30px;
        position: relative;
        margin-top: 2px;
        margin-left: 30px;
        margin-bottom: 25px;
        transition: 0.5s;
    }
    .lS2M{
        background-color: white;
        height: 4px;
        width: 30px;
        position: relative;
        margin-top: 2px;
        margin-left: 30px;
        margin-bottom: 25px;
        transition: 0.5s;
    }
    .lS3M{
        background-color: white;
        height: 4px;
        width: 30px;
        position: relative;
        margin-top: 2px;
        margin-left: 30px;
        margin-bottom: 25px;
    }
    .lS4M{
        background-color: white;
        height: 4px;
        width: 30px;
        position: relative;
        margin-top: 2px;
        margin-left: 30px;
        margin-bottom: 25px;
    }
    #scrittaMenu1Id,
    #scrittaMenu2Id,
    #scrittaMenu3Id,
    #scrittaMenu4Id,
    #scrittaMenu4Id,
    #lineaSotto{
        display: none;
    }

    /* BOTTONI 'Leggi altro' */
    .vediAltroP,
    .vediAltroS{
        display: block;
        position: relative;
        margin-left: calc(50% - 110px/2);
        height: 50px;
        width: 110px;
        border-radius: 0;
        border: solid 4px rgb(122, 122, 122);
        color: rgb(122, 122, 122);
        background-color: #2e2e2e;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    /* PERSONAGGIO */
    .personaggio{
        height: auto;
    }
    .titoloTesto-sezione{
        font-size: 30px;
    }
    .titoloDiv-sezione{
        width: 80px;
        margin-top: 10px;
    }
    .titolo-sezione{
        height: 150px;
    }
    .sopra-p{
        flex-direction: column;
        position: relative;
    }
    .sotto-p{
        flex-direction: column-reverse;
        position: relative;
    }
    .sopra_sinistra-p,
    .sopra_destra-p,
    .sotto_sinistra-p,
    .sotto_destra-p{
        width: calc(100% - 20px);
        height: auto;
        margin: 0;
        position: relative;
        padding: 10px;
        font-size: 8px;
        margin-bottom: 40px;
    }
    .sotto_destra-p,
    .sotto_sinistra-p{
        display: block;
    }
    .titoloTesto-sezione{
        height: 70px;
    }
    .scritteP-sopra,
    .scritteP-sotto{
        margin: 0;
        width: calc(100% - 40px);
        height: auto;
        position: relative;
        margin-left: 20px;
        top: 0;
        left: 0;
    }
    .scritteP-sopra a,
    .scritteP-sotto a{
        position: relative;
        font-size: 16px;
        line-height: 5px;
    }
    .spazioVideo{
        height: auto;
    }
    .imgDeperoP2,
    .imgDeperoP1{
        margin: 0;
        position: relative;
        width: calc(100% - 40px);
        margin-left: 20px;
        height: auto;
    }
    .videoPersone{
        position: relative;
        width: calc(100% - 40px);
        padding-bottom: 20px;
        height: auto;
    }

    /* STORIA */
    .storia{
        height: auto;
    }
    .sopra-s{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .mezzo-s{
        display: flex;
        flex-direction: column-reverse;
        position: relative;
    }
    .mezzoSotto-s{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .sotto-s{
        display: flex;
        flex-direction: column-reverse;
        position: relative;
    }
    .sopraSinistra-s,
    .mezzoSopraDestra-s,
    .mezzoSottoSinistra-s,
    .sottoDestra-s{
        width: calc(100% - 60px);
        height: auto;
        margin: 0;
        position: relative;
        padding: 10px;
        font-size: 8px;
        margin-bottom: 40px;
        margin-left: 20px;
        top: 0;
        left: 0;
    }
    .sopraDestra-s,
    .mezzoSopraSinistra-s,
    .mezzoSottoDestra-s,
    .sottoSinistra-s{
        width: 100%;
        height: auto;
        margin: 0;
        position: relative;
        margin-bottom: 40px;
        top: 0;
        left: 0;
    }
    .titoloTesto-sezione{
        height: 70px;
    }
    .sopraSinistra-s a,
    .sopraDestra-s a,
    .mezzoSopraSinistra-s a,
    .mezzoSopraDestra-s a,
    .mezzoSottoSinistra-s a,
    .mezzoSottoDestra-s a,
    .sottoSinistra-s a,
    .sottoDestra-s a{
        margin: 0;
        position: relative;
        font-size: 16px;
        line-height: 50px;
    }
    .quadroCampari-s,
    .quadroColoriFreddi-s,
    .manifestoFascista-s{
        margin: 0;
        position: relative;
        width: calc(100% - 60px);
        margin-left: 30px;
        height: auto;
    }
    .mezzoSopra-s{
        display: flex;
        flex-direction: column-reverse;
    }

    /* FOOTER */
    footer {
        height: 40px;
    }
    footer a{
        font-size: 10px;
        margin-left: 10px;
    }
    .immagineLogo{
        height: 18px;
        margin-left: 5px;
    }
    .copyright{
        right: 10px;
        position: absolute;
    }
}

/* cellulare orizzontale */
@media screen and (max-device-width: 640px) and (orientation: landscape){
    .compatibile {
        z-index: 6;
    }
    .incopatibile{
        z-index: 4;
        padding: 2  0px;
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(29, 29, 29);
        overflow: hidden;
    }
    .scritte {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
    }
    .scritte a{
        display: block;
        font-family: 'Roboto', sans-serif;
        color: white;
    }
    .a1{
        margin-top: 30px;
    }
    .a2{
        margin-top: 30px;
    }
    .footer{
        height: 60px;
        width: 100%;
        position: relative;
        background: transparent;
        display: flex;
        align-items: center;
        top: calc(100% - 60px);
    }
    .footer a{
        font-family: 'Yantramanav', sans-serif;
        font-weight: light;
        font-size: 15px;
        margin-left: 20px;
        color: rgb(218, 218, 218);
    }
    .immagineLogoNC{
        padding: 2px;
        min-height: 8px;
        min-width: 60px;
        background: rgb(200, 200, 200);
        margin-left: 10px;
        z-index: 6;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: rgb(36, 36, 36);
    }
    .copyrightNC {
        right: 15px;
        position: absolute;
    }
}
