/*MAGLIO*/
*{
    margin: 0;
    padding: 0;
}
.sezioneQuadri{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sezione{
    width: 100%;
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    position: relative;
}
.corpoSezione{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.rigaSopra{
    width: 100%;
    height: 2%;
    background-color: white;
    position: relative;
}
.rigaSotto{
    width: 100%;
    height: 2%;
    background-color: white;
    position: relative;
}
.scritteCorpo{
    height: 96%;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.sezioneTitoloCorpo{
    height: 20%;
    width: 100%;
}
.titolo{
    height: 100%;
    width: 30%;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}
.scritteTitolo{
    height: 99%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: white;
}
.sezioneRiga{
    height: 1%;
    width: 60%;
    background-color: white;
    z-index: 2;
}
.scritteScritteCorpo{
    height: 80%;
    width: 100%;
}
.scritteVere{
    height: 90%;
    width: 90%;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.scritte{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: white;
}
.fotoCorpo{
    height: 96%;
    width: 40%;
}
.quadroSezione{
    height: 90%;
    margin-top: 15px;
}
/*MODENA*/