/*MAGLIO*/
*{
    margin: 0;
    padding: 0;
}
.sezioneQuadri{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sezione{
    width: 100%;
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
}
.corpoSezione{
    width: 100%;
    height: 96%;
    display: flex;
    position: relative;
}
.rigaSopra{
    width: 100%;
    height: 2%;
    background-color: rgb(95, 93, 93);
    position: relative;
}
.rigaSotto{
    width: 100%;
    height: 2%;
    background-color: rgb(95, 93, 93);
    position: relative;
}
.scritteCorpo{
    height: 96%;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.sezioneTitoloCorpo{
    height: 20%;
    width: 100%;
}
.titolo{
    height: 100%;
    width: 70%;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}
.scritteTitolo{
    height: 95%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: white;
}
.sezioneRiga{
    height: 5%;
    width: 80%;
    background-color: white;
    z-index: 2;
}
.scritteScritteCorpo{
    height: 80%;
    width: 100%;
}
.scritteVere{
    height: 90%;
    width: 90%;
    margin-left: 80px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.scritte{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: white;
}
.fotoCorpo{
    height: 100%;
    width: 40%;
}
.quadroSezione{
    height: 90%;
    margin-top: 7px;
    margin-left: 30px;
    border: 10px solid;
    border-color: rgb(126, 124, 124);
}
/*TITOLO*/
.sezioneTitolo{
    width: 100%;
    background-color: rgb(46, 46, 46);
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.titolo2{
    height: 100%;
    width: 100%;
}
.sezioneTitolo2{
    width: 100%;
    height: 30%;
}
.titoloRiga2{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.scrittaTitolo2{
    height: 97%;
    width: 100%;
}
.scrittaTitoloVera2{
    font-family: 'Roboto', sans-serif;
    font-size: 85px;
    color: white;
    width: 250px;
    display: inline-block;
    margin-left: calc(50% - 125px);
}
.riga2{
    width: 150px;
    height: 3%;
    background-color: white;
    margin-left: 75px;
}
.sezioneCorpo2{
    width: 100%;
    height: 70%;
    position: relative;
    display: flex;
}
.scritte2{
    width: 1500px;
    height: 80%;
    margin-top: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
}