/* BERTA */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&family=Yantramanav:wght@100;300&display=swap');
:root{
    --coloreHome: white;
}
*{
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html,body{ 
    height: 100%;
    scroll-behavior: smooth;
}
.incopatibile{
    color: transparent;
    position: absolute;

}
.corpo{
    width: 100%;
	background: black;
    overflow-X: hidden;
}
.home{
	height: 100%;
	width: 100%;
	position: relative;
    background-color: transparent;
	top: 0;
	left: 0;
    display: flex;
    flex-direction: column;
}
.menuMobile{
    position: absolute;
    opacity: 0;
}
.scritteMenu{
    margin-top: 200px;
    position: absolute;
    margin-left: 30px;
    height: 500px;
    width: 300px;
    z-index: 2;
}
.hamburgerMenu{
    display: none;
}
.logo{
	font-family: 'Lobster', cursive;
    color: var(--coloreHome);
    font-size: 60px;
    margin-bottom: 100px;
    margin-left: 30px;
}
.home a{
    position: relative;
    color: var(--coloreHome);
    left: 10px;
    text-decoration: none;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
#lineaSotto{
    background-color: var(--coloreHome);
    height: 4px;
    width: 30px;
    position: relative;
    margin-top: 2px;
    margin-left: 30px;
    margin-bottom: 25px;
    transition: 0.5s;
}
#scrittaMenu1Id:hover + #lineaSotto{
    width: 200px;
}
#scrittaMenu2Id:hover + #lineaSotto{
    width: 85px;
}
#scrittaMenu3Id:hover + #lineaSotto{
    width: 80px;
}
#scrittaMenu4Id:hover + #lineaSotto{
    width: 190px;
}
.sfondo-scorri{
    width: 300%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    transition: 1.5s;
    z-index: 1;
    position: absolute;
}
.sfondo1{
    height: 100%;
    width: 100%;
    background-image: url('../img/home/futuristaHome.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sfondo2{
    height: 100%;
    width: 100%;
    background-image: url('../img/home/pubblicitaHome.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sfondo3{
    height: 100%;
    width: 100%;
    background-image: url('../img/home/bohHome.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bottoniSlide{
    position: absolute;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    top: calc(100% - 60px);
    z-index: 2;
}
.bottoniSlide button{
    border: solid 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 6px;
    background: rgb(36, 36, 36);
}
.bottoniSlide button:hover{
    border: solid 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 6px;
    background-color: #525252;
}
footer{
    height: 80px;
    width: 100%;
    position: relative;
    background: rgb(36, 36, 36);
    display: flex;
    align-items: center;
}
footer a{
    font-family: 'Yantramanav', sans-serif;
    font-weight: light;
    font-size: 20px;
    margin-left: 20px;
    color: rgb(218, 218, 218);
}
.immagineLogo{
    height: 36px;
    margin-left: 10px;
    z-index: 2; 
}
.copyright{
    right: 15px;
    position: absolute;
}

/* MAGLIO */


*{
    padding: 0px;
    margin: 0px;
}
.spazioVideo{
    height: 60%;
    width:100%;
    background-color: rgb(51, 48, 48);
    position: relative;
}
.sfondoVideo{
    height: 65%;
    width: 65%;
    position: relative;
    background-color: rgb(107, 106, 106);
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
/*personaggio*/
.personaggio{
    height: 150%;
    width: 100%;
    position: relative;
    background-color: #4f4d4d;
    display: flex;
    flex-direction: column;
}
.sezioneFlex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}
.sopra-p{
    height: 50%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}
.sotto-p{
    height: 50%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}
.sopra_sinistra-p {
    width: 60%;
    height :100%;
    position: relative;
}
.sopra_destra-p {
    width: 40%;
    height :100%;
    position: relative;
}
.depero_persona{
    position: relative;
    z-index:1;
    margin-left: 90px;
    height: 90%;
    margin-top: 10px;
}
.sotto_sinistra-p{
    width: 40%;
    height :100%;
    position: relative;
}
.sotto_destra-p{
    width: 60%;
    height :100%;
    position: relative;
}
.sopra-p a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
}
.sotto-p a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
}
.titolo-sezione {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    margin-bottom: 15Spx
}
.titoloTesto-sezione {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: white;
    position: relative;
    padding-top: 20px;
}
.titoloDiv-sezione{
    position: absolute;
    height: 4px;
    background-color: white;
    width: 100px;
    margin-top: 20px;
    top: 50px;
}
.scritteP-sopra{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: white;
    position: absolute;
    margin-left: 20px;
    transform: translate(-15%,0);
    top: 40%;
    left: 20%;
}
.scritteP-sotto{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: white;
    position: absolute;
    margin-left: 20px;
    transform: translate(-50px,15px);
    top: 40%;
    left: 20%;
}
.imgDeperoP1{
    height: 110%;
    width: 80%;

}
.imgDeperoP2{
    height: 80%;
    width: 80%;
    margin-left: 40px;
    transform:translate( 0px,-140px)
}
/*Storia*/
.storia{
    height: 150%;
    width: 100%;
    position: relative;
    background-color: #4f4d4d;
    display: flex;
    flex-direction: column;
}
.sopra-s{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}
.sopraSinistra-s{
    width: 50%;
    height: 100%;
    position: relative;
}
.sopraDestra-s{
    width: 50%;
    height: 100%;
    position: relative;
}
.sopra-s a{
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    font-size: 20px;
    color: white;
}
.mezzo-s{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #6e6a6a;
}
.mezzoSinistra-s{
    width: 50%;
    height: 100%;
    position: relative;
}
.mezzoDestra-s{
    width: 50%;
    height: 100%;
    position: relative;
}
.mezzo-s a{
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    font-size: 20px;
    color: white;
}
.sotto-s{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #4f4d4d ;
    display: flex;
    flex-direction: row;
}
.sottoSinistra-s{
    width: 50%;
    height: 100%;
    position: relative;
}
.sottoDestra-s{
    width: 50%;
    height: 100%;
    position: relative;
}
.sotto-s a{
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    font-size: 20px;
    color: white;
}
/*tecniche*/
.tecniche{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #363535;
    display: flex;
    flex-direction:column;
    
}
.sopra-t{
    height: 50%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}
.sopraSinistra-t{
    height:100%;
    width: 50%;
    position: relative;
}
.sopraDestra-t{
    height:100%;
    width: 50%;
    position: relative;
}
.sotto-t{
    height: 50%;
    width: 100%;
    position:relative;
}
.sopra-t{
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    font-size: 20px;
    color: white;
}
.sotto-t{
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    font-size: 20px;
    color: white;
}


/* MODENA */

*{
    padding: 0px;
    margin: 0px;
}
.viaggi{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #363535;
}