.viaggi{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.sopra{
    height: 50%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}
.sotto{
    height: 50%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}
.personaggio{
    display: flex;
    flex-direction: column;
}
.sopra_sinistra {
    width: 50%;
    height :100%;
    position: relative;
}
.sopra_destra {
    width: 50%;
    height :100%;
    position: relative;
}
.sotto_sinistra{
    width: 50%;
    height :100%;
    position: relative;
}
.sotto_destra{
    width: 50%;
    height :100%;
    position: relative;
}