*{
    padding: 0;
    margin: 0;
}
html,body { 
    height: 100%; 
}
.corpo {
	width: 100%;
	background: black;
}
.home {
	height: 100%;
	width: 100%;
	position: absolute;
    background-color: transparent;
	top: 0;
	left: 0;
    display: flex;
    flex-direction: column;
}
.sfondo-scorri {
    width: 200%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}
.sfondo1 {
    height: 100%;
    width: 100%;
    background-color: rgb(71, 71, 71);
}
.sfondo2 {
    height: 100%;
    width: 100%;
    background-color: rgb(46, 46, 46);
}
.logo {
	font-family: 'Lobster', cursive;
	color: white;
}
.home a{
    position: relative;
    color: white;
    left: 10px;
    font-family: 'Bebas Neue-';
    text-decoration: none;
    padding-top: 40px;
    padding-left: 20px
}