*{
    padding: 0px;
    margin: 0px;
}
.personaggio{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #4f4d4d;
}
.personaggioFlex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.sopra-p{
    height: 50%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}
.sotto-p{
    height: 50%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}
.sopra_sinistra-p {
    width: 50%;
    height :100%;
    position: relative;
}
.sopra_destra-p {
    width: 50%;
    height :100%;
    position: relative;
}
.depero_persona{
    position: relative;
    z-index:1;
    margin-left: 90px;
    height: 90%;
    margin-top: 10px;
}

.sotto_sinistra-p{
    width: 50%;
    height :100%;
    position: relative;
}
.sotto_destra-p{
    width: 50%;
    height :100%;
    position: relative;
}
.sopra-p a{
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    font-size: 20px;
    color: white;
}
.sotto-p a{
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    font-size: 20px;
    color: white;
}
.titolo-p {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}
.titoloTesto-p {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: white;
    position: relative;
    padding-top: 20px;
}
.titoloDiv-p{
    position: absolute;
    height: 4px;
    background-color: white;
    width: 100px;
    margin-top: 20px;
    top: 50px;
}
/*Storia*/
.storia{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #4f4d4d;
}
.storiaFlex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}