*{
    padding: 0px;
    margin: 0px;
}
.personaggio{
    display: flex;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #bdbbbb;
}
.sopra{
    height: 50%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
}
.sotto{
    height: 50%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
}
.sopra_sinistra {
    width: 50%;
    height :100%;
    position: relative;
}
.sopra_destra {
    width: 50%;
    height :100%;
    position: relative;
}
.depero_persona{
    position: relative;
    z-index:1;
    margin-left: 90px;
    height: 90%;
    margin-top: 10px;
}

.sotto_sinistra{
    width: 50%;
    height :100%;
    position: relative;
}
.sotto_destra{
    width: 50%;
    height :100%;
    position: relative;
}
.personaggio a{
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    font-size: 20px;
    color: white;
}
    


    

