*{
    padding: 0;
    margin: 0;
}
html,body { 
    height: 100%; 
}
.corpo {
	width: 100%;
	background: black;
}
.home {
	height: 100%;
	width: 100%;
	position: absolute;
    background-color: transparent;
	top: 0;
	left: 0;
    display: flex;
    flex-direction: column;
}
.sfondo-scorri {
    width: 200%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}
.sfondo1 {
    height: 100%;
    width: 100%;
    background-color: rgb(71, 71, 71);
}
.sfondo2 {
    height: 100%;
    width: 100%;
    background-color: rgb(46, 46, 46);
}
.scritteMenu {
    transform: translateY(calc(50% - 50px));
    position: absolute;
    margin-left: 30px;
    height: 500px;
    width: 300px;
}
.logo {
	font-family: 'Lobster', cursive;
	color: white;
    font-size: 60px;
    margin-bottom: 90px;
    margin-left: 30px;
}
.home a {
    position: relative;
    color: white;
    left: 10px;
    text-decoration: none;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
.scrittaMenu1 {
    transition: 0.5s linear;
}
.scrittaMenu2 {
    transition: 0.5s linear;
}
.scrittaMenu3 {
    transition: 0.5s linear;
}
.scrittaMenu4 {
    transition: 0.5s linear;
}
#scrittaMenu1:hover + #lineaSotto {
    width: 180px;
    transition: 0.5s;
}
#scrittaMenu2:hover + #lineaSotto {
    width: 80px;
    transition: 0.5s;
}
#scrittaMenu3:hover + #lineaSotto {
    width: 100px;
    transition: 0.5s;
}
#scrittaMenu4:hover + #lineaSotto {
    width: 100px;
    transition: 0.5s;
}
#lineaSotto {
    height: 4px;
    width: 30px;
    background-color: white;
    position: relative;
    margin-top: 2px;
    margin-left: 30px;
    margin-bottom: 25px;

}
/* hover menu */
.scrittaMenu1:hover > .lS1 {
    width: 90px;
    transition: 1s linear;
}